{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-8">
				{% for article in articles %}
					{% include "articles/_articleindexcard.html.twig" %}
				{% endfor %}
			</div>
			<div class="col-4">
				{% for blog in blogs %}
					<div class="card border-primary mb-3" style="max-width: 20rem;">
						<a href="{{path('blog_show', {'slug': blog.slug}) }}">
							<div class="card-header">{{blog.title}}</div>
						</a>
						<div class="card-body">
							<a href="{{path('users_show',{'id': blog.author.id}) }}">
								<h6 class="card-title" align="right">par {{blog.author.username}}</h6>
							</a>
							<a href="{{path('blog_show', {'slug': blog.slug}) }}">
								<p class="card-text">{{blog.content[:150]|raw}}...</p>
							</a>
						</div>
					</div>

				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
