{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
<div class="container">
    <h1 align="center">Inscription</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.userName, {
            label: "nom d'utilisateur"
        }) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'mot de passe'
        }) }}

        <button type="submit" class="btn btn-primary">valider</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
