<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="{{path('homepage')}}">SimplePart</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor02">
			<ul class="navbar-nav mr-auto">
				
				<li class="nav-item">
					<a class="nav-link" href="{{path('homepage')}}">Derniers Articles</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('index_international')}}">International</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('index_france')}}">France</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('index_economie')}}">Economie</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('index_culture')}}">Culture</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('blogs_index')}}">Blogs</a>
				</li>
				{% if not app.user %}
					<li class="nav-item">
						<a class="nav-link" href='{{path('app_login')}}'>se connecter</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_register')}}">s'incrire</a>
					</li>
				{% endif %}
				{% if app.user %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mon Compte</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="{{path('users_edit_info', {'id': app.user.id})}}">mon compte</a>
						<a class="dropdown-item" href="{{path('users_Blog_Show', {'id': app.user.id})}}">mes blogs</a>
						<a class="dropdown-item" href="{{path('commentByUserList', {'user': app.user.id}) }}">mes commentaires</a>
						{% if is_granted('ROLE_AUTHOR') %}
							<a class="dropdown-item" href="{{path('users_Article_Show', {'id': app.user.id}) }}">mes articles</a>
						{% endif %}
						{% if is_granted('ROLE_ADMIN') %}
							<a class="dropdown-item" href="{{path('admin_users')}}">administration</a>
						{% endif %}
						<a class="dropdown-item" href="{{path('app_logout')}}">déconnexion</a>
					</div>
				</li>
				{% endif %}
				{% if app.user %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Participez</a>
					<div class="dropdown-menu">
						{% if not is_granted('ROLE_AUTHOR') %}
							<a class="dropdown-item" href="#">Devenir redacteur</a>
						{% endif %}
						{% if not is_granted('ROLE_MODO') %}
							<a class="dropdown-item" href="#">Devenir moderateur</a>
						{% endif %}
						{% if is_granted('ROLE_USER') %}
							{% if not is_granted('ROLE_AUTHOR') %}
								<a class="dropdown-item" href="{{path('blogs_new')}}">Rédiger un blog</a>
							{% endif %}
						{% endif %}
						{% if is_granted('ROLE_AUTHOR') %}
							<a class="dropdown-item" href="{{path('article_create')}}">Rédiger un article</a>
						{% endif %}

					</div>
				</li>
				
				
				{% endif %}
				<li class="nav_item">
					<a class="nav-link" href="{{path('search_article')}}">Recherchez dans les articles</a>
				</li>
			</ul>
			
			{#{{ render(controller('App\\Controller\\SearchArticleController::index', {'request': app.request})) }}#}
			
		</div>
	</nav>
</header>
