{% extends "base.html.twig" %}

{% block title %}Liste des commentaires{% endblock %}

{% block body %}

    {% if user.comments | length > 0 %}
		<h1 align="center" class="my-5">Gestion des commentaires de
			{{user.userName}}</h1>
		<div class="container-fluid">

			<table class="table table-hover">
				<thead>
					<tr align="center">
						<th class="col-5">article lié</th>
						<th class="col-5">Contenu</th>
						<th class="col-2">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for comment in user.comments %}
						<tr align="center">
							<td class="col-5">{{comment.article.title}}</td>
							<td class="col-5">{{comment.content}}</td>
							<td class="col-2">
								<a href="{{path('comment_delete', {'id': comment.id}) }}" class="btn btn-primary">
									<i class="fas fa-trash"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
					{% for commentResponse in user.commentResponses %}
						<tr align="center">
							<td class="col-5">{{commentResponse.comment.article.title}}</td>
							<td class="col-5">{{commentResponse.content}}</td>
							<td class="col-2">
								<a href="{{path('commentResponse_delete', {'id': commentResponse.id}) }}" class="btn btn-primary">
									<i class="fas fa-trash"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
					{% for blogComment in user.blogComments %}
						<tr align="center">
							<td class="col-5">{{blogComment.blogArticle.title}}</td>
							<td class="col-5">{{blogComment.content}}</td>
							<td class="col-2">
								<a href="{{path('blogComment_delete', {'id': blogComment.id}) }}" class="btn btn-primary">
									<i class="fas fa-trash"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
					{% for blogCommentResponse in user.blogCommentResponses %}
						<tr align="center">
							<td class="col-5">{{blogCommentResponse.comment.blogArticle.title}}</td>
							<td class="col-5">{{blogCommentResponse.content}}</td>
							<td class="col-2">
								<a href="{{path('blogCommentResponse_delete', {'id': blogCommentResponse.id}) }}" class="btn btn-primary">
									<i class="fas fa-trash"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>
	{% endif %}
{% endblock %}