<div class="card mb-3">
			<a href="{{path('article_show', {'slug': article.slug} ) }}">
				<h3 class="card-header">{{article.title}}</h3>
			</a>
			<div class="card-body">
				<a href="{{path('users_Article_Show', {'id': article.author.id})}}" align="left" class="text-muted">par
					{{article.author.userName}}</a>
				<p>
					{% if article.category == 'culture' %}
						<a href="{{path('index_culture')}}">
							<h6 class="card-subtitle text-muted" align="right">{{article.category}}</h6>
						</a>
					{% elseif article.category == 'france' %}
						<a href="{{path('index_france')}}">
							<h6 class="card-subtitle text-muted" align="right">{{article.category}}</h6>
						</a>
					{% elseif article.category == 'economie' %}
						<a href="{{path('index_economie')}}">
							<h6 class="card-subtitle text-muted" align="right">{{article.category}}</h6>
						</a>
					{% else %}
						<a href="{{path('index_international')}}">
							<h6 class="card-subtitle text-muted" align="right">{{article.category}}</h6>
						</a>
					{% endif %}
				</p>


				<a href="{{path('article_show', {'slug': article.slug} ) }}">
					<h5 class="card-subtitle text-muted mt-2">{{article.subTitle}}</h6>
				</a>
			</div>
			<img style="height: 300px; width: 100%; display: block;" src="{{article.coverImage}}" alt="Card image">
			<div class="card-body">
				<p class="card-text">
					{{article.content[:500]|raw}}
					<a href="{{path('article_show', {'slug': article.slug} ) }}">...</a>
				</p>
			</div>
			<div class="card-footer text-muted clearfix">
		<div class="float-left"> {{article.createdAt | date('d/m/Y')}}</div>
		{% if article.comments | length < 1 %}
			<div class="float-right text-muted">pas de commentaires</div>
		{% elseif article.comments | length == 1 %}
			<a href="{{path('article_show',{'slug': article.slug}) }}#commentaires">
				<div class="float-right text-muted">{{article.comments | length }} commentaire</div>
			</a>
		{% else %}
			<a href="{{path('article_show',{'slug': article.slug}) }}#commentaires">
				<div class="float-right text-muted">{{article.comments | length }} commentaires</div>
			</a>
		{% endif %}
		
	</div>
		</div>