<div class="card mb-3">
	<a href="{{path('article_show',{'slug': article.slug}) }}">
		<h3 class="card-header">{{article.title}}</h3>
	</a>
	<div class="card-body">
		<a href="{{path('users_show', {'id': article.author.id})}}">
			<h6 class="card-subtitle text-muted" align="left">{{article.author.userName}}</h6>
		</a>
		<h6 class="card-subtitle text-muted" align="right">{{article.category}}</h6>
		<h5 class="card-subtitle text-muted mt-2">{{article.subTitle}}</h6>
	</div>
	<img style="height: 300px; width: 100%; display: block;" src="{{article.coverImage}}" alt="Card image">
	<div class="card-body">
		<p class="card-text">
			{{article.content[:1000]|raw}}
			<a href="{{path('article_show',{'slug': article.slug}) }}">...</a>
		</p>
	</div>
	<div class="card-footer text-muted">
		{{article.createdAt | date('d/m/Y')}}
	</div>
</div>
