{% extends "base.html.twig" %}

{% block title %}
	{{article.title}}
{% endblock %}

{% block body %}

	<div class="bannershow" style="background-image: url({{ article.coverImage }})">
		<div class="container">
			<h1>{{ article.title }}</h1><br><br>
			<p class="h3">{{ article.subTitle }}</p><br><br>
			<a href="{{path('users_Article_Show',{'id': article.author.id}) }}">
				<p align="right">Par
					{{article.author.userName}}</p>
			</a>
		</div>
	</div>

	<div class="container my-3">
		<div class="row">
			<div class="col-6">
				<p>{{article.content[:550]|raw}}</p>

			</div>
			<div class="col-6">
				{% for image in article.images %}
					{% if loop.first %}
						<div class="image">
							<img src="{{image.url}}" height="400px" alt="">
							<p>
								<em>{{image.caption}}</em>
							</p>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p>{{article.content[400:]|raw}}</p>


				<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
					<ol class="carousel-indicators">
						{% for image in article.images %}
							<li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" {% if loop.first %} class="active" {% endif %}></li>
						{% endfor %}
					</ol>
					<div class="carousel-inner">
						{% for image in article.images %}
							<div class="carousel-item {% if loop.first %}active{% endif %}">
								<img class="d-block w-100" src="{{ image.url }}" alt="First slide">
								<div class="carousel-caption d-none d-md-block">
									<p>{{ image.caption }}</p>
								</div>
							</div>
						{% endfor %}
					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>

		</div>
		<hr>
		<div class="alert alert-dismissible alert-warning">
			<h4 class="alert-heading" align="center">ESPACE COMMENTAIRES</h4>
			{% if app.user == null %}
				<p class="mb-0">
					<a href="{{path('app_login')}}" class="alert-link">Connectez-vous</a>
					pour participer à la discussion
				</p>
			{% endif %}


		</div>
		{% if app.user %}
			{{form_start(form)}}

			<div class="card border-warning mb-3">
				<div class="card-body">

					<p class="card-text">{{form_widget(form)}}</p>
					<button type="submit" class="btn btn-primary float-right">commenter</button>
					{{form_end(form)}}
				</div>
			</div>
		{% endif %}
		
			<div class="d-flex flex-column">
			
				{% for comment in article.comments %}
					
					<div class="card border-secondary mt-3" style="width: 50rem;" id="commentaires">
						<div class="card-header">par
							{{comment.author.userName}}</div>
						<div class="card-body">
							<p class="card-text">{{comment.content}}</p>
							<a href="{{path('CommentResponse_create', {'comment': comment.id}) }}">
								<p class="card-text" align="right">répondre</p>
							</a>
						</div>
					</div>
					
					{% for commentResponse in comment.commentResponses %}
						<div class="card border-secondary border align-self-end" style="width: 50rem">
							<div class="card-header">
								{{commentResponse.author.userName}}
								a repondu</div>
							<div class="card-body">
								<p class="card-text">{{commentResponse.content}}</p>
								<a href="{{path('CommentResponse_create', {'comment': comment.id}) }}">
									<p class="card-text" align="right">répondre</p>
								</a>
							</div>
						</div>
					{% endfor %}
				{% endfor %}
				
			</div>
		
		{% endblock %}
