{% extends "base.html.twig" %}

{% block title %}page de
	{{users.userName}}
{% endblock %}

{% block body %}
	<div class="container">
		{% for article in paginator.dataByAuthor(users)%}
			{% include "articles/_articleindexcard.html.twig" %}

			
		{% endfor %}
		{% if paginator.dataByAuthor(users) | length > 0 %}
			<div class="d-flex justify-content-center">
				{% set page = paginator.page %}
				{% set nbpages = paginator.pages %}
				<ul class="pagination pagination-lg">
					{% if page > 1 %}
						<li class="page-item">
							<a class="page-link" href="{{path('users_Article_Show', {'id': users.id ,'page': page - 1 }) }}">Page precedente</a>
						</li>
					{% endif %}
					{% if page < nbpages %}
						<li class="page-item">
							<a class="page-link" href="{{path('users_Article_Show', {'id': users.id , 'page': page + 1 }) }}">Page suivante</a>
						</li>
					{% endif %}
				</ul>
			</div>
		{% endif %}


			{% for blog in users.blogArticles %}
				<div class="jumbotron my-3">
					<a href="{{path('blog_show', {'slug': blog.slug})}}">
						<h1 class="display-5" align="center">{{blog.title}}</h1>
					</a>
					<hr class="my-4">
					<p>par
						{{blog.author.userName}}
						le
						{{blog.createdAt|date('d/m/Y') }}</p>
				</div>
				<p>{{blog.content|raw}}</p>
			{% endfor %}

		</div>
	{% endblock %}
